
<div  id='header' fxLayout='column' detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="200" [topOffset]="60">
    <div > 
        <h1>
            {{title}}
        </h1>
    </div>

    <div   id='nav_container'>        
        <nav mat-tab-nav-bar [ngClass]="{fixed: isScrolled}">
            <a mat-tab-link
               *ngFor="let link of tabLinks"
               [routerLink]="link.link"
               routerLinkActive #rla="routerLinkActive"
               [active]="rla.isActive">
               {{link.label}}
            </a>
          </nav>
        
          <!--This nav is just to keep the rest of the content fixed when we fixed the nav in the page-->
          <nav mat-tab-nav-bar *ngIf="isScrolled">
            <a mat-tab-link> </a>
          </nav>
    </div>

</div>

<div id='container'>
    <router-outlet></router-outlet>
</div>




