<div *ngIf="related" fxFlex='90%' id='related'>
  <ul fxLayout="row wrap" fxLayoutAlign="space-around" fxLayoutGap >
      <li *ngFor="let movie of related.results | slice:0:9" fxFlex="10%" fxLayoutGap class='movie_element'>
         
             <a routerLink="/detail/{{movie.id}}">
               <img fxFlex='100%' src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"              
                                  srcset="https://image.tmdb.org/t/p/w500/{{movie.poster_path}} 1000w, https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}} 400w" 
                                  sizes='(max-width: 500px)'                                                       
                                      >            
               <div id='movie_name' fxLayoutAlign="space-evenly center">{{movie.title}}</div> 
             </a>
             <div fxLayout="row" fxLayoutAlign="center center">
               <img fxFlex='10%'  src='../../assets/images/popular.png'> 
               <div id='vote'>{{movie.vote_average}}</div>
             </div>        
     </li>
   </ul>
</div>





