<div fxFlex='95%' id='movies_container'>
  <ul fxLayout="column">
     <li *ngFor="let movie of mo" class='movie_element'>
        
            <a routerLink="/detail/{{movie.id}}" fxLayoutAlign="start center">
              <img  src="https://image.tmdb.org/t/p/w500/{{movie.backdrop_path}}">                               
              <div id='movie_name'>{{movie.title}}</div> 
            </a>
            <div fxLayout="row" fxLayoutAlign="start center" id='popular'>
              <img fxFlex='10%'  src='../../assets/images/popular.png'> 
              <div id='popular_number'>{{movie.vote_average}}</div>
            </div>        
    </li>
  </ul>
</div> 