#movies_container{
    margin: 0px auto;
    }
  
  #movies_container ul{
    padding: 0px;
  }
  
  #movies_container li{
    list-style: none;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    color: #607D8B;
    background-color: #DDD;
    max-height: 100px;
    display: flex;
    /*max-width: 200px;
    min-width: 160px;*/
  }
  
  
  #movies_container li:hover{
    border: solid rgba(10, 10, 10, 0.522);
    border-radius: 0 0 5px 10px;
    
  }
  #movies_container a{
    text-decoration: none;   
    color:  #5e6264;  
    text-shadow: 1px 1px 1px #000000;
    font-size: 20px;    
    display: flex;
    /* width:50%; */
  }

  a img{
     width: 178px;            
    
  }
  
  #movies_container a:visited{
    text-decoration: none; 
  
  }
  #movie_name{
    align-content: center center;
    padding: 15px;    
  }
  #popular{
    width: 50%;
    padding-right: 20px;
  }
  
  #popular_number{
    margin-left: 10px;
  }

  #img_cont{
    max-height: 100%;
    width: 50%;
  }
  li div a{
    max-height: 100%;
    max-width: 100%;
  }
  .default{
    max-height: 100%;
    max-width: 100%;
    width: 178px;
    height: 100px;
  }
    
  /*REsponsive for small devices*/
  @media (max-width: 1000px){
    #release{
      max-width: 100px;
    } 

    #movie_name{
      align-content: center center;
      padding: 5px;  
      font-size: 15px;  
      max-width: 40%;
    }
   
  }

  @media (max-width: 700px){

    #popular{
      flex-direction: column !important; 
      padding: 3px;
      width: 30%;
    }
    #img_cont{
       width: 70%;
    }
    
    #pop_cont, #release, #rated{
      max-width:100% !important; 
      padding: 2px;
    }

    #pop_cont{
      max-height: 40px;
    }

    #release, #rated{
      width: 100%;
    }

    #pop_cont img{
      max-width: 10% !important;
    }
  }
  
  
  @media (max-width: 500px){    

  #popular{
    font-size: 12px;
  }

  a img{
    width: 100px;
  }
   li{
    height: 60px;
    overflow: hidden;    
  }
  .default{
    height: 60px;
  }
  }
  
  @media (max-width: 300px){
      
    #movies_container{
        min-width: 100px !important;       
    }
    
    ul{
         max-width: 100%;
         min-width: 100px !important; 
     } 
    
    li{
         min-width: 100px;
         min-width: 100px !important; 
     }
  
    a img{
         margin: 0 auto;
         max-width: 120px;
         width:120px;
         min-width: 100px !important; 
     }

     #movie_name{        
      font-size: 12px;       
    }
  }